@page
@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

<div class="vh-100 d-flex align-items-center justify-content-center text-center text-white bg-dark">
    <div class="container">
        <h1 class="display-4">Voxta</h1>
        <p class="lead">Your Not-So-Helpful AI Companion</p>
        <div class="row mt-5">
            <div class="col">
                <a href="https://github.com/voxta-ai/voxta-ai" class="text-white text-decoration-none">
                    <i class="bi bi-github" style="font-size: 2rem;"></i>
                    <div class="mt-2">GitHub</div>
                </a>
            </div>
            <div class="col">
                <a href="https://www.patreon.com/acidbubbles" class="text-white text-decoration-none">
                    <i class="bi" style="display: inline-grid;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 799.69336 767.70667" preserveAspectRatio="xMinYMin meet" style="height: 43px; width: 32px; padding-top: 8px;">
                            <g transform="matrix(1.3333333,0,0,-1.3333333,0,767.70667)">
                                <g transform="scale(0.1)">
                                    <path style="fill:rgb(250, 250, 250);fill-opacity:1;fill-rule:evenodd;stroke:none" d="m 3844.89,5757.79 c -1190.76,0 -2159.54,-969.65 -2159.54,-2161.59 0,-1188.33 968.78,-2155.12 2159.54,-2155.12 1187.08,0 2152.82,966.79 2152.82,2155.12 0,1191.94 -965.74,2161.59 -2152.82,2161.59"/>
                                    <path style="fill:rgb(250, 250, 250);fill-opacity:1;fill-rule:evenodd;stroke:none" d="M 0,0 H 1054.41 V 5757.81 H 0 V 0"/>
                                </g>
                            </g>
                        </svg>
                    </i>
                    <div class="mt-2">Patreon</div>
                </a>
            </div>
            <div class="col">
                <a href="https://hub.virtamate.com/threads/how-to-officially-get-vam.39231/" class="text-white text-decoration-none">
                    <i class="bi bi-globe2" style="font-size: 2rem;"></i>
                    <div class="mt-2">Virt-A-Mate</div>
                </a>
            </div>
        </div>
    </div>
</div>