@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - Terms of service";
}

<div class="container">
    <h1>Legal</h1>
        
    <div class="card mb-3">
        <div class="card-header">
            <h2>Terms of service</h2>
        </div>
        <div class="card-body">
            <p>This project has been developed as an experiment, and no guarantees whatsoever are offered.</p>
            <p>The content generated with this software must be legal in the United States and your country of residence.</p>
            <p>The author have no access to any of the data generated within this tool. However, keep in mind that remote services such as Open AI may collect your data. Make sure to read their terms of services before using their software.</p>
            <p>Furthermore, those use cases are prohibited:</p>
            <ul>
                <li>Depictions of minors are prohibited.</li>
                <li>Simulations of forced sexual interactions with non consenting characters are prohibited.</li>
                <li>Torture and psychological violence.</li>
                <li>Impersonation of real people.</li>
                <li>Using the software to deceive someone, it is mandatory to inform users of the limitations and restrictions of the AI.</li>
            </ul>
        </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>AI safety</h2>
        </div>
        <div class="card-body">
            <p>AI characters are not real. Remember that they can say make up things that can be hurtful, and simply false.</p>
            <p>Please seek help if you feel alone, or if you develop an unhealthy relationship with the AI.</p>
        </div>
    </div>
</div>