@using ChatMate.Services.OpenAI
@using ChatMate.Services.Fakes
@model SettingsViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings";
}

<div class="container">
    <h1>Settings</h1>
    
    <form method="post" asp-action="settings">
        <h2>Profile</h2>
        <div class="form-group">
            <label asp-for="Profile.Name">Profile name:</label>
            <input asp-for="Profile.Name" class="form-control"/>
            <span asp-validation-for="Profile.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profile.Description">Profile description:</label>
            <input asp-for="Profile.Description" class="form-control"/>
            <span asp-validation-for="Profile.Description" class="text-danger"></span>
        </div>
        
        <h2>OpenAI</h2>
        <div class="form-group">
            <label asp-for="OpenAI.ApiKey">OpenAI key:</label>
            <input asp-for="OpenAI.ApiKey" class="form-control"/>
            <span asp-validation-for="OpenAI.ApiKey" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OpenAI.Model">OpenAI model:</label>
            <input asp-for="OpenAI.Model" class="form-control"/>
            <span asp-validation-for="OpenAI.Model" class="text-danger"></span>
        </div>

        <h2>NovelAI</h2>
        <div class="form-group">
            <label asp-for="NovelAI.Token">NovelAI token:</label>
            <input asp-for="NovelAI.Token" class="form-control"/>
            <span asp-validation-for="NovelAI.Token" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NovelAI.Model">NovelAI model:</label>
            <input asp-for="NovelAI.Model" class="form-control"/>
            <span asp-validation-for="NovelAI.Model" class="text-danger"></span>
        </div>

        <h2>KoboldAI</h2>
        <div class="form-group">
            <label asp-for="KoboldAI.Uri">KoboldAI URI: <span class="text-muted">Example: http://127.0.0.1:5001</span></label>
            <input asp-for="KoboldAI.Uri" class="form-control"/>
            <span asp-validation-for="KoboldAI.Uri" class="text-danger"></span>
        </div>

        <h2>Text generation web UI</h2>
        <div class="form-group">
            <label asp-for="Oobabooga.Uri">Text generation web UI URI: <span class="text-muted">Example: http://127.0.0.1:5000</span></label>
            <input asp-for="Oobabooga.Uri" class="form-control"/>
            <span asp-validation-for="Oobabooga.Uri" class="text-danger"></span>
        </div>

        <h2>ElevenLabs</h2>
        <div class="form-group">
            <label asp-for="ElevenLabs.ApiKey">ElevenLabs API key:</label>
            <input asp-for="ElevenLabs.ApiKey" class="form-control"/>
            <span asp-validation-for="ElevenLabs.ApiKey" class="text-danger"></span>
        </div>

        <h2>Services</h2>
        <div class="form-group">
            <label asp-for="Profile.AnimationSelectionService">Animation selection service</label>
            <select asp-for="Profile.AnimationSelectionService" class="form-control">
                <option value="">None</option>
                <option value="@OpenAIConstants.ServiceName">OpenAI</option>
                <option value="@FakesConstants.ServiceName">Fakes (for testing)</option>
            </select>
            <span asp-validation-for="Profile.AnimationSelectionService" class="text-danger"></span>
        </div>

        <h2>Options</h2>
        <div class="form-group">
            <label asp-for="Profile.EnableSpeechRecognition">Enable speech recognition</label>
            <input asp-for="Profile.EnableSpeechRecognition" type="checkbox" class="form-check-input"/>
            <span asp-validation-for="Profile.EnableSpeechRecognition" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profile.PauseSpeechRecognitionDuringPlayback">Pause Speech Recognition During Playback: <span class="text-muted">Turn off to allow interruptions, requires a headset</span></label>
            <input asp-for="Profile.PauseSpeechRecognitionDuringPlayback" type="checkbox" class="form-check-input"/>
            <span asp-validation-for="Profile.PauseSpeechRecognitionDuringPlayback" class="text-danger"></span>
        </div>

        <br/>
        <button type="submit" class="btn btn-primary">Save</button>
        <span class="text-danger">
            @Html.ValidationSummary(false)
        </span>
    </form>
</div>