@model ChatMate.Abstractions.Model.ServerWelcomeMessage.Bot[]
@{
    Layout = "_Layout";
    ViewBag.Title = "Bots";
}

<div class="container">
    <p>Registered bots: </p>
    <table class="table">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        </thead>

        @foreach (var bot in Model)
        {
            <tr>
                <td>@bot.Name</td>
                <td>@bot.Description</td>
                <td><a class="btn btn-primary" href="/bots/@bot.Id">Edit</a></td>
            </tr>
        }
        <tr>
            <td colspan="2"></td>
            <td><a class="btn btn-primary" href="/bots/new">Add new bot</a></td>
        </tr>
    </table>
</div>