@model Voxta.Server.ViewModels.ServiceSettings.ServiceSettingsViewModel

<div class="card mb-3">
    <div class="card-header">
        <h2>Service Information</h2>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="Label">Label</label>
            <input asp-for="Label" class="form-control"/>
            <div class="form-text">An optional text to identify this service.</div>
            <span asp-validation-for="Label" class="text-danger"></span>
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" asp-for="Enabled" class="form-check-input"/>
            <label asp-for="Enabled">Enabled</label>
            <div class="form-text">You can disable this service if you don't want it to be selected automatically.</div>
            <span asp-validation-for="Enabled" class="text-danger"></span>
        </div>
    </div>
</div>