body, html {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 60%;
    opacity: 0;
    transition: 1s;
}

#characterButtons {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: 1s;
}

#message {
    position: absolute;
    z-index: 3;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    bottom: 20%;
    max-width: 70%;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.prompt-box {
    position: fixed;
    bottom: 20px;
    width: 70%;
    z-index: 4;
}

.prompt-box input {
    border-radius: 10px;
    width: 100%;
    background-color: #2a2b2e;
    border: 1px solid #2a2b2e;
    color: #959dad;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.prompt-box:disabled {
    background-color: #151517;
}

#notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(50px);
}