@page
@{
    Layout = "_Layout";
    ViewBag.Title = "Chat";
}


@section head {
    <link href="~/styles/pages/talk/talk-page.css" asp-append-version="true" rel="stylesheet">
}

<canvas id="audioVisualizer" class="voxta_transition" width="800" height="480"></canvas>
<div id="splash" class="voxta_transition">
    <p><b>Hi <span id="username">user</span>,</b></p>
    <p>You can now launch your virtual companion app, or you can start chatting here.</p>
    <p>
        <input id="selectCharacterButton" type="button" class="btn btn-secondary" value="Start a new conversation"/>
    </p>
</div>
<div id="characterButtons" class="voxta_transition"></div>
<div id="chatButtons" class="voxta_transition"></div>
<div id="message" class="voxta_transition"></div>
<div id="promptBox" class="voxta_transition">
    <input type="text" id="prompt" disabled="disabled" />
</div>
<div id="notification"></div>

<script type="module" src="~/scripts/pages/talk/talk-page.js"></script>
