@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Voxta.Services.ElevenLabs.ElevenLabsSettings
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings";
}

<div class="container">
    <h1>Settings</h1>
    
    <form method="post" asp-action="PostElevenLabsSettings">
        <div class="card mb-3">
            <div class="card-header">
                <h2>Services</h2>
            </div>
            <div class="card-body">
                <h3>ElevenLabs</h3>
                <div class="form-group">
                    <label asp-for="ApiKey">ElevenLabs API key:</label>
                    <input asp-for="ApiKey" class="form-control"/>
                    <span asp-validation-for="ApiKey" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="text-danger mt-3">
            @Html.ValidationSummary(false)
        </div>
    </form>
</div>