@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Voxta.Services.ElevenLabs.ElevenLabsSettings
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - ElevenLabs";
}

<div class="container">
    <h1>ElevenLabs Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>Go to <a href="https://elevenlabs.io/subscription" target="_blank">elevenlabs.io</a>, click on your profile icon and select Profile. You'll find the API Key there.</p>
        </div>
    </div>
    
    <form method="post" asp-action="PostElevenLabsSettings">
        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <div>
                    <label asp-for="ApiKey">ElevenLabs API key</label>
                    <input asp-for="ApiKey" class="form-control"/>
                    <span asp-validation-for="ApiKey" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="text-danger mt-3">
            @Html.ValidationSummary(false)
        </div>
    </form>
</div>