@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Voxta.Services.NovelAI.NovelAISettings
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - NovelAI";
}

<div class="container">
    <h1>NovelAI Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>Login to <a href="https://novelai.net/" target="_blank">novelai.net</a>, and open the Developer Console (F12 or CTRL+Shift+I). Then open the Console tab and paste <code>console.log(JSON.parse(localStorage.getItem('session')).auth_token)</code>. A code should show up starting with `ey...`. This is your Token.</p>
        </div>
    </div>
    
    <form method="post" asp-action="PostNovelAISettings">
        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Token">NovelAI token:</label>
                    <input asp-for="Token" class="form-control"/>
                    <span asp-validation-for="Token" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model">NovelAI model:</label>
                    <input asp-for="Model" class="form-control"/>
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="text-danger mt-3">
            @Html.ValidationSummary(false)
        </div>
    </form>
</div>