@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Voxta.Services.Oobabooga.OobaboogaSettings
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings";
}

<div class="container">
    <h1>Settings</h1>
    
    <form method="post" asp-action="PostOobaboogaSettings">
        <div class="card mb-3">
            <div class="card-header">
                <h2>Services</h2>
            </div>
            <div class="card-body">
                <h3>Text generation web UI</h3>
                <div class="form-group">
                    <label asp-for="Uri">Text generation web UI URI: <span class="text-muted">Example: http://127.0.0.1:5000</span></label>
                    <input asp-for="Uri" class="form-control"/>
                    <span asp-validation-for="Uri" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="text-danger mt-3">
            @Html.ValidationSummary(false)
        </div>
    </form>
</div>