{
  "ChatMate.Services": {
    "NovelAI": {
      "Token": ""
    },
    "OpenAI": {
      "OrganizationId": "",
      "ApiKey": "",
      "Model": "gpt-3.5-turbo"
    }
  },
  "ChatMate.Profile": {
    "Name": "Anon",
    "Description": "genderless, anonymous"
  }
}