@page
@{
    Layout = "_Layout";
    ViewBag.Title = "Voxta";
}


@section styles {
    <link href="/styles/chat-page.css" rel="stylesheet">
}

<canvas id="audioVisualizer" width="800" height="480"></canvas>
<div id="characterButtons"></div>
<div id="message"></div>
<div class="prompt-box">
    <input type="text" id="prompt" disabled="disabled" />
</div>
<div id="notification"></div>

<script type="module" src="/scripts/chat-page.js"></script>
