@model Voxta.Services.AzureSpeechService.AzureSpeechServiceSettings
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - Azure Speech Service";
}

<div class="container">
    <h1>Azure Speech Service Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>Go to <a href="https://portal.azure.com/#view/Microsoft_Azure_ProjectOxford/CognitiveServicesHub/~/SpeechServices" target="_blank">portal.azure.com</a>, find your Speech Service and go to <code>Keys and Endpoint</code>. There you will find the Keys and Region.</p>
        </div>
    </div>
    
    <form id="configureForm" method="post" asp-action="PostAzureSpeechServiceSettings">
        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <div class="form-check mb-3">
                    <input type="checkbox" asp-for="Enabled" class="form-check-input"/>
                    <label asp-for="Enabled">Enabled</label>
                    <div class="form-text">You can disable this service if you don't want it to be selected automatically.</div>
                    <span asp-validation-for="Enabled" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SubscriptionKey">Subscription Key</label>
                    <input asp-for="SubscriptionKey" class="form-control" />
                    <span asp-validation-for="SubscriptionKey" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Region">Region</label>
                    <input asp-for="Region" class="form-control" />
                    <span asp-validation-for="Region" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LogFilename">Log Filename</label>
                    <input asp-for="LogFilename" class="form-control" />
                    <div class="form-text">Only enable this if you have problems with the service. Enter a full path.</div>
                    <span asp-validation-for="LogFilename" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <input type="checkbox" asp-for="FilterProfanity" class="form-check-input"/>
                    <label asp-for="FilterProfanity">Filter Profanity</label>
                    <div class="form-text">Whether to remove profanity from tts and stt.</div>
                    <span asp-validation-for="FilterProfanity" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <input type="checkbox" asp-for="Diarization" class="form-check-input"/>
                    <label asp-for="Diarization">Diarization</label>
                    <div class="form-text">Uses the conversation transcriber. Much slower than the normal recognizer, but can filter out other speakers.</div>
                    <span asp-validation-for="Diarization" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button id="resetBtn" class="btn btn-secondary me-2">Reset</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="text-danger mt-3">
            @Html.ValidationSummary(false)
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('resetBtn').addEventListener('click', async (e) => {
            e.preventDefault();
            if (!confirm('Are you sure you want to reset the settings?')) { return; }
            await fetch('@Url.Action("ResetNovelAISettings")', { method: 'POST' });
            location.reload();
        });
    });
</script>