@model Voxta.Server.ViewModels.ServiceSettings.ElevenLabsSettingsViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - ElevenLabs";
}

<div class="container">
    <h1>ElevenLabs Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>Go to <a href="https://elevenlabs.io/subscription" target="_blank">elevenlabs.io</a>, click on your profile icon and select Profile. You'll find the API Key there.</p>
        </div>
    </div>
    
    <form id="configureForm" method="post" asp-action="PostElevenLabsSettings">
        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <div class="form-check mb-3">
                    <input type="checkbox" asp-for="Enabled" class="form-check-input"/>
                    <label asp-for="Enabled">Enabled</label>
                    <div class="form-text">You can disable this service if you don't want it to be selected automatically.</div>
                    <span asp-validation-for="Enabled" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ApiKey">API key</label>
                    <input asp-for="ApiKey" class="form-control"/>
                    <span asp-validation-for="ApiKey" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="card mb-3">
            <div class="card-header">
                <h2>Speech Configuration</h2>
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <label asp-for="Model">Model</label>
                    <select asp-for="Model" class="form-control">
                        <option value="eleven_monolingual_v1">Monolingual v1</option>
                        <option value="eleven_multilingual_v1">Multilingual v1</option>
                    </select>
                    <div class="form-text">The multilingual model is used when the culture is not en-US.</div>
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ThinkingSpeech">Thinking speech</label>
                    <textarea rows="6" asp-for="ThinkingSpeech" class="form-control"></textarea>
                    <div class="form-text">Those are generated sounds while the AI thinks and speech gets generated. One per line.</div>
                    <span asp-validation-for="ThinkingSpeech" class="text-danger"></span>
                </div>
                <partial name="ServiceSettings/_JSONParametersServiceSettings" model="@Model" />
            </div>
        </div>

        <partial name="ServiceSettings/_FormFooter" model="@Url.Action("ResetElevenLabsSettings")" />
    </form>
</div>
