@model Voxta.Server.ViewModels.ServiceSettings.FFmpegSettingsViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - FFmpeg";
}

<div class="container">
    <h1>FFmpeg Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>This uses the FFmpeg tools for recording and audio conversion.</p>
        </div>
    </div>
    
    <form id="configureForm" method="post" asp-action="PostFFmpegSettings">
        <partial name="ServiceSettings/_CommonSettings" model="@Model"/>

        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <i>There are no configurations for this service</i>
            </div>
        </div>

        <partial name="ServiceSettings/_FormFooter" model="@Model"/>
    </form>
</div>
