@using Voxta.Server.ViewModels.ServiceSettings
@model Voxta.Server.ViewModels.ServiceSettings.KoboldAISettingsViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - KoboldAI";
}

<div class="container">
    <h1>KoboldAI Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>Download and run <a href="https://github.com/LostRuins/koboldcpp" target="_blank">koboldcpp</a> (or Kobold if you prefer), enable stream mode and make sure to select <code>CLBlast</code> so you can run it on your GPU. Then load a GGML model.</p>
        </div>
    </div>
    
    <form id="configureForm" method="post" asp-action="PostKoboldAISettings">
        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <div class="form-check mb-3">
                    <input type="checkbox" asp-for="Enabled" class="form-check-input"/>
                    <label asp-for="Enabled">Enabled</label>
                    <div class="form-text">You can disable this service if you don't want it to be selected automatically.</div>
                    <span asp-validation-for="Enabled" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Uri">KoboldAI URI</label>
                    <input asp-for="Uri" class="form-control"/>
                    <div class="form-text">Example: http://127.0.0.1:5001</div>
                    <span asp-validation-for="Uri" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PromptFormat">Prompt format</label>
                    <select asp-for="PromptFormat" asp-items="@(new SelectList(PromptFormatsViewModel.Values, nameof(OptionViewModel.Name), nameof(OptionViewModel.Label)))" class="form-control"></select>
                    <div class="form-text">Can improve the inference, but also increase alignment with the model's fine-tuning.</div>
                    <span asp-validation-for="PromptFormat" class="text-danger"></span>
                </div>
                <partial name="ServiceSettings/_LLMServiceSettings" model="@Model" />
                <partial name="ServiceSettings/_JSONParametersServiceSettings" model="@Model" />
            </div>
        </div>

        <partial name="ServiceSettings/_FormFooter" model="@Url.Action("DeleteKoboldAISettings")" />
    </form>
</div>
