@model OobaboogaSettingsViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - Text Generation Web UI";
}

@section head {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.10.2/jsoneditor.min.css" integrity="sha512-brXxIa/fpMfluh8HUWyrNssKy/H0oRzA0HhmipgfVwbXPamMUTZn1jEsvoGGwJYCRpSx4idujdul4vFwWgPROA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/styles/jsoneditor-dark.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.10.2/jsoneditor-minimalist.js" integrity="sha512-H0X4c02ARmY4wCJ2CzRFfKWnB6ZrLFqsD9JYB3ljTOCtjSJB63Nfq/GUumYW3NMQRX3R2B8BH56DAywT4tQv6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  <script src="~/scripts/components/json-editor.js" asp-append-version="true"></script>
}

<div class="container">
    <h1>Text Generation Web UI Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>Install <a href="https://github.com/oobabooga/text-generation-webui" target="_blank">github.com/oobabooga/text-generation-webui</a> and make sure it runs correctly and that you launched it with <code>--api</code>.</p>
        </div>
    </div>
    
    <form id="configureForm" method="post" asp-action="PostTextGenerationWebUISettings">
        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <div class="form-check mb-3">
                    <input type="checkbox" asp-for="Enabled" class="form-check-input"/>
                    <label asp-for="Enabled">Enabled</label>
                    <div class="form-text">You can disable this service if you don't want it to be selected automatically.</div>
                    <span asp-validation-for="Enabled" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Uri">Text generation web UI URI</label>
                    <input asp-for="Uri" class="form-control"/>
                    <div class="form-text">Example: http://127.0.0.1:5000. Note that the API URL is different from the web interface URL.</div>
                    <span asp-validation-for="Uri" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="MaxContextTokens">Max Context Tokens</label>
                    <input asp-for="MaxContextTokens" class="form-control"/>
                    <div class="form-text">Longer values means more memory but also longer processing.</div>
                    <span asp-validation-for="MaxContextTokens" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Parameters">Text generation parameters</label>
                    <input type="hidden" asp-for="Parameters" class="form-control"/>
                    <div id="jsoneditor" class="jsoneditor" style="width: 100%; height: 400px;"></div>
                </div>
                <div class="form-check">
                    <input asp-for="UseDefaults" type="checkbox" class="form-check-input"/>
                    <label asp-for="UseDefaults">Use default parameters</label>
                    <div class="form-text">Will ignore any changes you make on the parameters and use the default values instead.</div>
                    <span asp-validation-for="UseDefaults" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="text-danger mt-3">
            @Html.ValidationSummary(false)
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        initJsonEditor(document.getElementById("configureForm"), document.getElementById("Parameters"), document.getElementById("UseDefaults"));
    });
</script>
