@model Voxta.Server.ViewModels.ServiceSettings.VoskSettingsViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - Vosk";
}

<div class="container">
    <h1>Vosk Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>Vosk should automatically download an english model. You can also download more at <a href="https://alphacephei.com/vosk/models" target="_blank">alphacephei.com</a> and download it to the Models/Vosk directory.</p>
        </div>
    </div>
    
    <form id="configureForm" method="post" asp-action="PostVoskSettings">
        <partial name="ServiceSettings/_CommonSettings" model="@Model"/>
        
        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Model">Vosk model</label>
                    <input asp-for="Model" class="form-control"/>
                    <div class="form-text">Download from the <a href="https://alphacephei.com/vosk/models" target="_blank">models list</a>. Smaller models are faster.</div>
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ModelHash">Model download zip hash</label>
                    <input asp-for="ModelHash" class="form-control"/>
                    <div class="form-text">Optional, increases security by checking the downloaded zip file to ensure the file is the expected one. Only use automatic downloads for small models.</div>
                    <span asp-validation-for="ModelHash" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="IgnoredWords">Ignored words</label>
                    <input asp-for="IgnoredWords" class="form-control"/>
                    <div class="form-text">A comma-separated list of words you want to ignore when listening, when they are the only word picked up. Used to avoid converting background noise into speech.</div>
                    <span asp-validation-for="IgnoredWords" class="text-danger"></span>
                </div>
            </div>
        </div>

        <partial name="ServiceSettings/_FormFooter" model="@Model"/>
    </form>
</div>
