body, html {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 60%;
}

#splash {
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#characterButtons, #chatButtons {
    position: absolute;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    max-width: 50%;
}

.charactersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.charactersContainer div.character:last-child {
    margin-right: 0;
}

.avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-color: #1c1b1b;
    margin-bottom: 10px;
}

#message {
    position: absolute;
    z-index: 3;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    bottom: 20%;
    max-width: 70%;
    text-align: center;
}

#promptBox {
    position: fixed;
    bottom: 20px;
    width: 70%;
    z-index: 4;
}

#promptBox input {
    border-radius: 10px;
    width: 100%;
    background-color: #2a2b2e;
    border: 1px solid #2a2b2e;
    color: #959dad;
    text-align: center;
}

#promptBox:disabled {
    background-color: #151517;
}

#notification {
    position: fixed;
    bottom: 40px;
    right: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(50px);
}

.voxta_transition {
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

.voxta_show {
    opacity: 1;
    transition: 1s;
    pointer-events: auto;
}