@model Voxta.Abstractions.Model.ServerWelcomeMessage.CharactersListItem[]
@{
    Layout = "_Layout";
    ViewBag.Title = "Character";
}

<div class="container py-3">
    <h1 class="mb-4">Characters</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Existing Characters</h2>
        </div>
        <div class="card-body p-0">
            <table class="table mb-0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th colspan="3">Actions</th>
                </tr>
                </thead>

                <tbody>
                    @foreach (var character in Model.OrderBy(x => x.ReadOnly).ThenBy(x => x.Name))
                    {
                        <tr>
                            <td>
                                @character.Name
                            </td>
                            <td>
                                @character.Description
                                @if (character.ReadOnly)
                                {
                                    <span class="badge badge-secondary">built-in</span>
                                }
                            </td>
                            <td>
                                @if (character.ReadOnly)
                                {
                                    <a class="btn btn-secondary" href="/characters/@character.Id?edit=false">View</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" href="/characters/@character.Id?edit=true">Edit</a>
                                }
                            </td>
                            <td>
                                <a class="btn btn-secondary" href="/characters/new?from=@character.Id">Clone</a>
                            </td>
                            <td>
                                @if (!character.ReadOnly)
                                {
                                    <form action="/characters/delete" method="post">
                                        <input type="hidden" name="charId" value="@character.Id"/>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Create New Character</h2>
        </div>
        <div class="card-body p-0">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td><span class="text-muted">Create a new blank character</span></td>
                        <td class="text-end">
                            @* ReSharper disable Html.PathError *@
                            <a class="btn btn-primary" href="/characters/new">Create blank character</a>
                            @* ReSharper restore Html.PathError *@
                        </td>
                    </tr>

                    <tr>
                        <td><span class="text-muted">Upload a Tavern V2 card</span></td>
                        <td class="text-end">
                            <form action="/characters/import" enctype="multipart/form-data" method="post">
                                <div class="mb-3">
                                    <input type="file" class="form-control" name="files" accept="image/png,application/json" />
                                </div>
                                <button type="submit" class="btn btn-primary">Upload and import</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
